<section class="text-center px-8 sm:px-20 xl:px-0 mb-16 md:mb-32">
    <div class="max-w-screen-xl mx-auto">
        <span class="up-title text-accent">Actualités</span>
        <h2 class="lg-title">Derniers articles</h2>
        <span class="divider bg-accent mt-8 mb-12 mx-auto"></span>
        <div class="flex flex-col items-center lg:items-start lg:flex-row lg:space-x-10">
            <!-- Post 1 -->
            <a href="/post/job-magento/" class="rounded-3xl overflow-hidden relative xl:top-12 mb-12 xl:mb-0 w-3/4 sm:w-1/2 lg:w-1/4">
                <img alt="" src="{{ .Site.BaseURL }}images/home-post-1.jpg" class="rounded-3xl w-full" draggable="false"/>
                <p class="font-bold xl:text-lg mt-6 mb-1">Recrutement développeur Magento</p>
            </a>
            <!-- Post 2 -->
            <a href="/post/openvpn-docker/" class="rounded-3xl overflow-hidden mb-12 xl:mb-0 w-3/4 sm:w-1/2 lg:w-1/2">
                <img alt="" src="{{ .Site.BaseURL }}images/home-post-2.jpg" class="rounded-3xl w-full" draggable="false"/>
                <p class="font-bold xl:text-lg mt-6 mb-1">VPN Docker</p>
            </a>
            <!-- Post 3 -->
            <a href="/post/magento-ses/" class="rounded-3xl overflow-hidden relative xl:top-12 mb-12 xl:mb-0 w-3/4 sm:w-1/2 lg:w-1/4">
                <img alt="" src="{{ .Site.BaseURL }}images/home-post-3.jpg" class="rounded-3xl w-full" draggable="false"/>
                <p class="font-bold xl:text-lg mt-6 mb-1">Amazon SES Magento 2</p>
            </a>
        </div>
    </div>
</section>
