<section class="flex flex-col items-center py-12 md:py-24 bg-gradient-to-br from-gradient-dark to-gradient-light">
    <div class="container max-w-screen-xl px-4 text-center text-white">
        <div class="flex flex-col items-center mb-8 lg:mb-0 font-accent">
            <span class="mb-4 up-title">Nous contacter</span>
            <h2 class="lg-title">Contacter un expert Magento</h2>
            <div class="flex space-x-5">
                <span class="mt-6 bg-white divider"></span>
                <span class="mt-6 bg-white divider opacity-60"></span>
            </div>
        </div>

        <form action="" method="POST">

            <div class="flex flex-col mx-auto mt-8 mb-10 md:mt-14 md:mb-20 md:w-3/4">
                <!-- Name -->
                <label for="last_name" class="sr-only">Nom</label>
                <input type="text" name="last_name" id="last_name" placeholder="Nom" class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white">

                <!-- Email -->
                <label for="email" class="sr-only">Email</label>
                <input type="text" name="email" id="email" placeholder="Email" class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white">

                <!-- Message -->
                <label for="message" class="sr-only">Message</label>
                <textarea placeholder="Message" id="message" name="message" rows="1" class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white"></textarea>

            </div>

            <a type="submit" class="btn btn-white">
                <span class="text-xl xl-text-base">Envoyer</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </a>
        </form>

    </div>
</section>