<section class="flex flex-col items-center py-12 md:py-24 bg-gradient-to-br from-gradient-dark to-gradient-light">
    <div class="container max-w-screen-xl px-4 text-center text-white">
        <div class="flex flex-col items-center mb-8 lg:mb-0 font-accent">
            <span class="mb-4 up-title">Nous contacter</span>
            <h2 class="lg-title">Contacter un expert Magento</h2>
            <div class="flex space-x-5">
                <span class="mt-6 bg-white divider"></span>
                <span class="mt-6 bg-white divider opacity-60"></span>
            </div>
        </div>

        <!--<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
        <script>
            hbspt.forms.create({
                region: "eu1",
                portalId: "26077487",
                formId: "fa3e6127-4dd4-46fa-9de6-90032c476043",
                css: 'contact-form'
            });
        </script>-->

        <form action="https://formspree.io/f/xzblezej" method="POST" id="contact">

            <div class="flex flex-col mx-auto mt-8 mb-10 md:mt-14 md:mb-20 md:w-3/4">
                <!-- Name -->
                <label for="name" class="sr-only">Nom</label>
                <input type="text" name="name" id="name" required placeholder="Nom" class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white">

                <!-- Email -->
                <label for="_replyto" class="sr-only">Email</label>
                <input type="text" name="_replyto" id="_replyto" required placeholder="Email" class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white">

                <!-- Message -->
                <label for="message" class="sr-only">Message</label>
                <textarea
                        placeholder="Message"
                        id="message"
                        name="message"
                        :rows="focus"
                        class="px-0 py-3 my-8 text-xl placeholder-white bg-transparent border-0 border-b border-white outline-none focus:ring-0 focus:outline-none focus:border-white transition-all"
                        x-on:focus="focus = 8"
                        x-on:blur="if (!$el.value) focus = 1"
                        x-data="{ focus: 1 }"
                ></textarea>

                <input type="hidden" name="_subject" value="Contact Lumao" />
                <input type="hidden" name="_next" value="/post/merci/" />
                <input type="hidden" name="_format" value="plain" />
                <input type="text" name="_gotcha" class="hidden" />
            </div>

            <button type="submit" class="btn btn-white">
                <span class="text-xl xl-text-base">Envoyer</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </button>
        </form>

    </div>
</section>