        <footer>
            <div class="bg-gray-theme-700">
                <div class="md:container mx-auto md:px-0 md:py-10">
                    <div class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap justify-center items-center">
                        <div class="w-full md:w-auto py-10 md:py-0">
                            <img src="{{ .Site.BaseURL }}images/partner/partner5.svg" alt="Infomaniak" class="mx-auto md:mx-6" />
                        </div>
                        <div class="w-full md:w-auto py-10 md:py-0 bg-gray-theme-750 md:bg-transparent">
                            <img src="{{ .Site.BaseURL }}images/partner/partner3.png" alt="Adobe Bronze Solution Partner" class="w-56 mx-auto md:mx-6" />
                        </div>
                        <div class="w-full md:w-auto py-10 md:py-0">
                            <img src="{{ .Site.BaseURL }}images/partner/partner1.png" alt="BoostMyShop" class="w-48 mx-auto md:mx-6" />
                        </div>
                        <div class="w-full md:w-auto py-10 md:py-0 bg-gray-theme-750 md:bg-transparent">
                            <img src="{{ .Site.BaseURL }}images/partner/partner4.svg" alt="Vue Storefront" class="mx-auto md:mx-6" />
                        </div>
                        <div class="w-full md:w-auto py-10 md:py-0">
                            <img src="{{ .Site.BaseURL }}images/partner/partner2.png" alt="Magento Community Insider" class="w-52 mx-auto md:mx-6" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="fake-gradient">
                <div class="md:container mx-auto md:px-4">
                    <div class="md:grid grid-cols-2 gap-32 2xl:gap-64">
                        <div class="bg-gray-theme-900 md:bg-transparent items-center grid grid-cols-3 lg:grid-cols-6 gap-4 py-12 px-6 sm:px-36 md:px-6 lg:px-0">
                            <img src="{{ .Site.BaseURL }}images/badge/badge0.png" alt="Magento Community Insider"  class="mx-auto w-full" />
                            <img src="{{ .Site.BaseURL }}images/badge/badge5.png" alt="Magento 2 Certified Associate Developer"  class="mx-auto w-full" />
                            <img src="{{ .Site.BaseURL }}images/badge/badge6.png" alt="Magento Certified Developer"  class="mx-auto w-full" />
                            <img src="{{ .Site.BaseURL }}images/badge/badge7.png" alt="Magento Certified Developer Plus"  class="mx-auto w-full" />
                            <img src="{{ .Site.BaseURL }}images/badge/badge8.png" alt="Magento Certified Front end Developer"  class="mx-auto w-full" />
                            <img src="{{ .Site.BaseURL }}images/badge/badge9.png" alt="Magento Certified Solution Specialist"  class="mx-auto w-full" />
                        </div>

                        <div class="bg-gray-theme-800 md:bg-transparent flex flex-col items-center py-12  md:order-first lg:flex-row lg:justify-between">

                            <div class="grid grid-cols-2 gap-4 mb-8 lg:mb-0">
                                {{ range .Site.Menus.social }}
                                    <a
                                        href="{{ .URL }}"
                                        title="{{ .Title }}"
                                        class="bg-gray-theme-600 text-accent p-4 block hover:bg-primary hover:text-white focus:bg-primary rounded-lg"
                                        target="_blank"
                                        rel="noopener"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="h-4 w-4 fill-current">{{ .Name | safeHTML }}</svg>
                                    </a>
                                {{ end }}
                            </div>

                            <div class="flex flex-col items-center lg:items-start text-center lg:text-left lg:order-first">
                                <a class="block" href="{{ .Site.BaseURL }}">
                                    <img src="{{ .Site.BaseURL }}images/logo.svg" class="w-48 block" alt="Lumao - Développement Magento" />
                                </a>
                                <p class="text-sm leading-relaxed text-gray-500 mt-6">
                                    835 305 657 R.C.S. Annecy <br/> Développé par Lavoweb <br/> © {{ now.Year }} LUMAO SASU
                                </p>
                            </div>

                            <ul class="hidden xl:block text-accent text-lg font-bold font-accent leading-loose">
                                {{ range .Site.Menus.footer }}
                                <li><a href="{{ .URL }}" class="hover:text-primary" title="{{ .Title }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>