<section class="relative py-16 md:py-32 lg:py-48 px-8 sm:px-20 xl:px-0 shadow-theme md:shadow-none mb-20 md:mb-0">
    <div class="max-w-screen-xl mx-auto flex flex-col lg:flex-row items-center">

        <div class="relative flex flex-col lg:flex-row items-center md:w-3/4 lg:mr-12 mb-10 md:mb-20 lg:mb-0">
            <div class="mb-12 lg:mb-0 text-center lg:text-left">
                <!-- Title -->
                <h2 class="lg-title text-center lg:text-left">Nous créons<br>de magnifiques sites</h2>

                <!-- Link -->
                <a href="#" class="highlighted-label text-primary hidden md:inline-flex mt-8 lg:mt-6">
                    <span>Nos réalisations</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                    <span class="w-0 h-0.5 bg-primary absolute -bottom-0.5 group-hover:w-full transition-all"></span>
                </a>
            </div>

            <!-- Picture -->
            <span class="hidden lg:block mr-0 bg-gray-200 w-4/5 h-4/5 absolute right-8 -z-1 rounded-3xl"></span>
            <div class="relative rounded-3xl mx-auto md:ml-auto w-full xs:w-3/5 lg:w-2/5 h-80 md:h-96 lg:h-auto overflow-hidden">
                <img alt="" src="{{ .Site.BaseURL }}images/home-beautiful-sites.jpg" class="absolute lg:relative bottom-0 left-1/2 transform -translate-x-1/2 lg:-translate-x-none w-full" draggable="false"/>
            </div>
        </div>

        <ul class="relative md:w-1/2 flex flex-col sm:max-w-none sm:flex">

            <!-- Step 1 -->
            <li class="relative pb-4 md:pb-8 flex items-baseline">
                <div class="mr-4 md:mr-12 -left-px">
                    <!-- Bullet -->
                    <span class="relative block w-3 h-3 rounded-full border-2 border-primary">
                        <span class="hidden md:block absolute inset-1/2 transform -translate-y-2/4 -translate-x-2/4 w-14 h-14 rounded-full border-2 border-primary"></span>
                    </span>
                </div>
                <div>
                    <p class="leading-7 md:font-bold text-sm md:text-base xl:text-lg">Nous convenons d'un planning</p>
                    <p class="leading-7 md:text-gray-500 text-sm md:text-base xl:text-lg">afin de développer votre e-commerce pour votre deadline.</p>
                </div>
                <!-- Line -->
                <span class="absolute left-1 bottom-0 bg-primary h-3/4 md:h-1/2 w-0.5 mx-auto rounded-xl"></span>
            </li>

            <!-- Step 2 -->
            <li class="relative pb-4 md:pb-8 flex items-baseline">
                <!-- Bullet -->
                <div class="mr-4 md:mr-12 relative -left-px">
                    <span class="block w-3 h-3 rounded-full border-2 border-primary"></span>
                </div>
                <div>
                    <p class="leading-7 md:font-bold text-sm md:text-base xl:text-lg">C'est la phase de création du site-web</p>
                    <p class="leading-7 md:text-gray-500 text-sm md:text-base xl:text-lg">tous les jours, vous verrez les nouvelles fonctionnalités que nous faisons pour votre site.</p>
                </div>
                <!-- Line -->
                <span class="absolute left-1 bottom-0 bg-primary h-3/4 w-0.5 mx-auto rounded-xl"></span>
            </li>

            <!-- Step 3 -->
            <li class="pb-4 md:pb-8 flex items-baseline">
                <!-- Bullet -->
                <div class="mr-4 md:mr-12 relative -left-px">
                    <span class="block w-3 h-3 rounded-full border-2 border-primary"></span>
                </div>
                <div>
                    <p class="leading-7 md:font-bold text-sm md:text-base xl:text-lg">Une mise en production a lieu</p>
                    <p class="leading-7 md:text-gray-500 text-sm md:text-base xl:text-lg">toutes les 2 semaines avec les changements que vous aurez préalablement validés.</p>
                </div>
            </li>
        </ul>

        <!-- Link -->
        <a href="#" class="highlighted-label text-primary md:hidden mt-8 lg:mt-6 w-full">
            <span>Nos réalisations</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
            <span class="w-0 h-0.5 bg-primary absolute -bottom-0.5 group-hover:w-full transition-all"></span>
        </a>
    </div>

    <!-- Bookmark -->
    <div class="absolute top-64 right-20 transform rotate-90 hidden xl:flex items-center">
        <span class="text-xs uppercase tracking-widest">Pourquoi Lumao</span>
    </div>
</section>