<section class="bg-secondary flex flex-col lg:flex-row">
    <div class="lg:w-5/12 relative overflow-hidden">
        <img src="{{ .Site.BaseURL }}images/home-erp.jpg" class="lg:absolute lg:h-full lg:max-w-none" alt="" />
    </div>
    <div class="lg:w-7/12 py-8 lg:py-36">
        <div class="lg:max-w-screen-md px-4 lg:pl-20 xl:pl-32 text-white">

            <span class="text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl font-bold font-accent">04.</span>
            <div class="relative z-20 flex flex-col items-start justify-center mb-8 lg:mb-12 lg:mt-4 xl:mt-6 ">
                <h3 class="lg-title">Pour l'intégration <span class="text-primary">ERP</span></h3>
                <span class="bg-primary h-2.5 w-9 mt-4 lg:mt-0 rounded-xl lg:absolute lg:-left-16"></span>
            </div>

            <p class="text-sm lg:text-base leading-relaxed lg:leading-relaxed 2xl:leading-loose">Bien que Magento soit conçu comme un CMS autonome, il ne montrera sa pleine puissance qu'une fois couplé à votre SI et à votre ERP. Nos développeurs vous aideront à définir les meilleures pratiques pour faire interagir votre système informatique et votre site e-commerce : mise à jour des articles (stock, prix, informations diverses), intégration des nouveaux clients et des commandes. Magento dispose de manière native d'une très grande facilité d'adaptation face aux principaux ERP du marché. Contactez-nous sans plus attendre pour que notre équipe puisse vous accompagner au mieux dans la réalisation de vos objectifs.</p>

            <a href="" class="inline-flex max-w-max font-bold text-sm lg:text-lg text-primary relative group font-accent mt-8 lg:mt-12">
                <span>Demandez un devis</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
                <span class="w-0 h-0.5 bg-primary absolute -bottom-0.5 group-hover:w-full transition-all"></span>
            </a>
        </div>
    </div>
</section>