<section class="mb-12 py-12 md:mb-72 md:py-0 mx-auto max-w-screen-xl flex items-center shadow-theme md:shadow-none">
    <div class="hidden xl:flex w-1/2 mr-12 relative items-center -z-1">
        <span class="block bg-gray-200 w-4/5 h-4/5 absolute -z-1 rounded-3xl ml-6 2xl:-ml-16"></span>
        <img alt="" src="{{ .Site.BaseURL }}images/home-expertise.jpg" width=""  class="ml-auto" draggable="false"  />
    </div>

    <div class="mx-4 xl:mx-0 xl:w-1/2 flex flex-col">
        <h2 class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl font-bold text-center xl:text-left font-accent">Notre <span class="text-primary">expertise</span> pour votre projet e-commerce</h2>
        <span class="block rounded-xl bg-primary h-2.5 w-9 xl:w-40 mx-auto xl:-ml-24 mt-4 mb-8 xl:my-14"></span>

        <div class="sm:max-w-none sm:flex items-center">
            <div class="sm:w-1/2 xl:hidden sm:mr-8 relative flex items-center">
                <span class="hidden md:block bg-gray-200 w-4/5 h-4/5 max-w-xs absolute rounded-3xl -z-1"></span>
                <img alt="" src="{{ .Site.BaseURL }}images/home-expertise.jpg" width=""  class="mb-8 sm:mb-0 mx-auto sm:mr-0 sm:ml-auto w-full max-w-xs sm:max-w-md" draggable="false"  />
            </div>
            <div class="sm:w-1/2 xl:w-full">
                <p class="font-bold mb-8 text-sm md:text-base xl:text-lg">
                    Lumao est une agence web spécialisée dans le développement de projets e-commerce basés sur le CMS Magento.
                </p>
                <p class="text-gray-500 xl:leading-loose mb-8 text-sm md:text-base xl:text-lg">
                    Magento est une plateforme "tout-en-un" de vente à distance, un CMS (Content Management System, ou Sytème de Gestion de Contenu) de commerce électronique. Créé en 2008, Magento équipe à ce jour plusieurs centaines de milliers de sites e-commerce à travers le monde. Les qualités de Magento n'ont d'égal que sa technicité, qui requiert le concours d'une équipe de développeurs et d'intégrateurs spécialisés. Forte de ses certifications Magento, l'agence web Lumao vous propose son expertise technique et le dévouement de son équipe, dans un seul but : le succès de votre projet e-commerce.
                </p>

                <a href="" class="border border-primary text-primary font-bold text-sm xl:text-lg inline-flex rounded-full px-12 py-4 hover:bg-primary hover:text-white">
                    <span>Demandez un devis</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>