<section class="relative bg-gray-theme-100 py-12 md:py-24 text-center md:px-8 sm:px-20 xl:px-0">
    <div class="max-w-screen-xl mx-auto">
        
        <div class="px-8">
            <span class="text-lg text-primary uppercase font-bold font-accent">Qui sommes-nous</span>
            <h2 class="text-5xl xl:text-6xl 2xl:text-7xl font-bold font-accent mt-2 md:mt-0">Pourquoi Lumao ?</h2>
        </div>

        <hr class="my-8 md:hidden w-3/4 mx-auto">

        <div class="xl:grid gap-4 grid-cols-3 lg:gap-8 lg:mx-8 xl:gap-12 md:mt-5 xl:mt-20">
        
            <!-- Block 01 -->
            <div class="rounded-3xl overflow-hidden relative xl:top-6 mb-16 xl:mb-0">
                <div class="flex flex-col md:pt-16 px-8 xl:px-12 font-bold">
                    <span class="text-lg font-accent text-primary mb-4">01</span>

                    <h4 class="text-3xl md:text-4xl font-accent">Pour la création de <span class="text-primary">votre site web</span></h4>

                    <span class="bg-primary h-2.5 w-9 my-8 mx-auto rounded-xl"></span>

                    <p class="text-xl xl:text-base font-bold">Nous vous accompagnons dans la création de votre site internet, de sa conception à sa mise en ligne.</p>
                </div>

                <div class="text-xl xl:text-base flex flex-col py-10 px-4 xl:px-12 text-gray-500 leading-7">
                    Nos experts rassemblent toutes leurs compétences pour créer le site qui répond à vos besoins et à ceux de vos visiteurs. Design, contenus, technologie, fonctionnalités, référencement… : tout est étudié pour vous offrir un site web performant, à l’image de l’activité que vous souhaitez promouvoir en ligne.
                </div>

                <a href="#" class="border border-gray-300 text-gray-300 duration-100 hover:border-primary hover:text-primary hover:bg-white font-bold text-sm xl:text-lg inline-flex rounded-full px-12 py-6 sm:py-4 xl:mt-6">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>

            <!-- Block 02 -->
            <div class="sm:rounded-3xl shadow-theme overflow-hidden mb-16 xl:mb-0">
                <div class="flex flex-col bg-secondary text-white py-16 px-8 xl:px-12 font-bold">
                    <span class="text-lg font-accent text-primary mb-4">02</span>

                    <h4 class="text-3xl md:text-4xl font-accent">Pour concevoir votre site <span class="text-primary">e-commerce</span></h4>

                    <span class="bg-primary h-2.5 w-9 my-8 mx-auto rounded-xl"></span>

                    <p class="text-xl xl:text-base font-normal">Si vous souhaitez faire réaliser un site par une agence web, vous pourrez confier votre projet de e-commerce à Lumao. </p>

                </div>

                <div class="text-xl xl:text-base flex flex-col py-10 px-8 xl:px-12 text-gray-500 leading-7">
                    Notre agence web vous accompagnera dans votre vie numérique. La présence sur le net devient indispensable pour entretenir votre clientèle et démarcher de nouveaux prospects. Votre vitrine se doit d’être fonctionnelle et facile à prendre en main. Por vous aider à mieux comprendre notre rôle à vos côtés consultez la page agence web, vous en apprendrez plus sur ce que l’on pourra réaliser pour vous.
                </div>

                <a href="#" class="bg-primary text-white duration-100 hover:border-primary hover:text-primary hover:bg-white font-accent text-sm xl:text-xl inline-flex rounded-full px-12 py-6 sm:py-4 mb-16 shadow-lg">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>

            <!-- Block 03 -->
            <div class="rounded-3xl overflow-hidden relative xl:top-6 md:mb-16 xl:mb-0">
                <div class="flex flex-col md:pt-16 px-4 xl:px-12 font-bold">
                    <span class="text-lg font-accent text-primary mb-4">03</span>

                    <h4 class="text-3xl md:text-4xl font-accent">Pour une <span class="text-primary">boutique en ligne </span>bien pensée</h4>

                    <span class="bg-primary h-2.5 w-9 my-8 mx-auto rounded-xl"></span>

                    <p class="text-xl xl:text-base font-bold">Le succès de votre présence sur le net est indissociable de la bonne construction de votre site.</p>

                </div>

                <div class="text-xl xl:text-base flex flex-col py-10 px-8 xl:px-12 text-gray-500 leading-7">
                    Si là n’est pas le seul facteur de réussite il n’en demeure pas moins que c’est l’un des principaux. Vos clients seront guidés des fiches-produits à la validation du panier en quelques clics intuitifs. L’acte d’achat sur votre site e-commerce réalisé par notre agence sera fluide et sans contrainte pouvant dissuader l’acquéreur. 
                </div>

                <a href="#" class="border border-gray-300 text-gray-300 duration-100 hover:border-primary hover:text-primary hover:bg-white font-bold text-sm xl:text-lg inline-flex rounded-full px-12 py-6 sm:py-4 xl:mt-6">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- Bookmark -->
    <div class="absolute bottom-60 right-20 transform rotate-90 hidden 3xl:flex items-center">
        <span class="text-xs uppercase tracking-widest">Pourquoi Lumao</span>
        <span class="absolute -right-12 bg-primary h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>

</section>