<section class="py-12 md:py-24 bg-gradient-to-br from-gradient-dark to-gradient-light flex flex-col items-center">
    <div class="container px-4 text-white max-w-screen-xl">
        <div class="flex flex-col items-center mb-8 lg:mb-0 font-accent">
            <span class="text-lg uppercase font-bold mb-4">Nos solutions</span>
            <h2 class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl font-bold text-center">Pourquoi Magento ?</h2>
            <span class="bg-white h-2.5 w-9 rounded-xl mt-6"></span>
        </div>


        <span class="text-5xl lg:text-7xl xl:text-8xl 2xl:text-9xl font-bold font-accent">01.</span>
        <div class="relative flex flex-col items-start justify-center lg:mt-4 xl:mt-6">
            <h3 class="text-2xl  lg:text-3xl xl:text-4xl 2xl:text-5xl font-bold font-accent">Pour sa polyvalence</h3>
            <span class="bg-white h-2.5 w-9 lg:w-16 mt-4 lg:mt-0 rounded-xl lg:absolute lg:-left-24"></span>
        </div>

        <div class="text-sm lg:text-base 2xl:text-lg mt-8 lg:mt-16 leading-normal xl:leading-relaxed 2xl:leading-loose col-count-2 col-gap-6">
            <p class="mb-6">L'utilisation d'un CMS pour un site e-commerce est une solution intéressante sur le papier par rapport au développement d'un outil "maison", car les logiciels qui existent sur le marché sont en général bien pensés sur un mode "tout-en-un" : gestion du catalogue, des clients, des commandes, mais aussi du marketing en ligne, du référencement naturel (SEO), etc. Magento n'est évidemment pas le seul outil sur le marché, et en tant que chef d'entreprise ou responsable de site e-commerce vous avez la nécessité de vous poser la question suivante : pourquoi devrais-je opter pour Magento ?</p>
            <p class="mb-6">Magento est une solution e-commerce qui se couple facilement avec votre CMS actuel, que ce soit EZ Publish, Drupal, Joomla ou Wordpress.</p>
            <p class="mb-6">La plateforme e-commerce Magento est-elle la meilleure qui soit sur le marché ? Est-elle garante de la réussite de votre projet ou du développement de votre chiffre d'affaires en ligne ? À ces questions, il n'existe pas de réponse miracle qui puisse être donnée sans une étude de votre projet par notre équipe d'experts. En effet, Lumao est composée de développeurs et d'intégrateurs expérimentés et ayant à leur compteur de nombreux projets réalisés avec succès : nous connaissons les points forts et les points faibles de Magento, et l'étude de votre projet, de vos objectifs, voire de votre site e-commerce existant, nous permettra de vous dire si, oui ou non, Magento peut vous aider à vous développer sur le net dans le domaine du commerce en ligne.</p>
            <p class="mb-6">À la vérité, Magento est une plateforme très polyvalente, très puissante, dont voici quelques-unes des qualités.</p>

            <a href="" class="flex font-bold font-accent relative group">
                <span>En savoir plus</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
                <span class="w-0 h-0.5 bg-white absolute -bottom-0.5 group-hover:w-full transition-all"></span>
            </a>
        </div>
    </div>
</section>