{{ partial "header.html" . }}

<!-- Hero -->
<section class="bg-gray-400 flex items-center justify-center relative overflow-hidden h-56">
    <img alt="" src="{{ .Site.BaseURL }}images/blog/placeholder-hero.jpg" width="" class="absolute max-w-none h-600 sm:h-full xl:h-auto xl:max-w-full xl:top-0" draggable="false"/>

    <div class="bg-transparent-black absolute w-full h-full flex flex-col items-center justify-end sm:justify-center">
        <div class="container px-4 md:px-0 text-gray-200 absolute bottom-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
            </svg>
        </div>
    </div>
</section>

<!-- More than a developer -->
<section class="mt-16 sm:pt-20 md:container mx-auto md:px-0 flex flex-col items-center">
    <span class="up-title text-primary">L'expert Magento</span>
    <h2 class="xl-title">Bien plus qu'un développeur web</h2>
    <span class="divider mt-4 md:mt-8 mb-36"></span>

    <div class="relative">
        <span class="hidden lg:block mr-0 bg-gray-200 w-2/5 h-1/2 absolute left-10 -top-14 -z-1 rounded-3xl"></span>
        <img alt="" src="{{ .Site.BaseURL }}images/blog/placeholder-1.jpg" class="rounded-3xl w-full" draggable="false"/>
    </div>
</section>

<section class="relative max-w-screen-xl mx-auto md:px-0 mb-24">
	
	<div class="absolute -top-36 font-accent md:bg-white md:shadow-theme md:rounded-3xl px-14 py-10 w-3/12">
		<span class="text-4xl mr-1">14.02</span>
		<span>2021</span>
		<span class="divider mt-4 mb-8"></span>
		<div class="flex justify-between">
			<div class="bg-primary-light w-14 h-14 rounded-lg">
				
			</div>
			<div class="bg-primary-light w-14 h-14 rounded-lg">
				
			</div>
			<div class="bg-primary-light w-14 h-14 rounded-lg">
				
			</div>
		</div>
	</div>

	<div class="w-7/12 ml-auto">
		<h2 class="lg-title mt-20">Au service de votre projet<br><span class="text-primary">e-commerce</span></h2>
		<span class="divider relative -left-12 w-24 my-10"></span>
		<p class="text-lg mb-8 font-bold leading-9">Depuis son lancement en 2008, la plateforme Magento est largement plébiscitée par les acteurs du e-commerce. La solution open source permet en effet de produire des boutiques en ligne performantes, stables et modulables.</p>
		<p class="text-lg leading-9">S’il est relativement aisé d’installer la solution et d’utiliser le CMS, il devient rapidement complexe d’exploiter pleinement les outils disponibles, de faire évoluer le site, de le maintenir fonctionnel sur la durée, de le personnaliser totalement, de le connecter à un système d’information… Magento demande des compétences techniques particulières, d’autant plus depuis la sortie de Magento 2 en 2015. Pour votre site e-commerce, que celui-ci soit déjà en ligne ou demande à être construit, faites appel à une équipe d’experts Magento. Développeurs, mais aussi intégrateurs et chefs de projet e-commerce multiplient les savoir-faire et les domaines de connaissance, de manière à vous proposer une offre 100 % sur mesure.</p>
	</div>

	<img src="{{ .Site.BaseURL }}images/dots.png" class="hidden lg:block absolute w-48 -left-1/4 ml-8 mt-16" alt="" />

	<div class="w-7/12 ml-auto relative">
		<h2 class="lg-title mt-20">Pourquoi faire appel à<br><span class="text-primary">des experts</span> Magento 2 ?</h2>
		<span class="divider relative -left-12 w-24 my-10"></span>
		<p class="text-lg mb-8 font-bold">Une équipe d’experts Magento se charge de :</p>
		
		<ul>
            <li class="relative pb-4 md:pb-8 flex items-baseline">
                <div class="absolute -left-10 leading-9">
                    <span class="text-primary text-lg font-bold font-accent">01</span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">Concevoir votre site e-commerce :</span> ils étudient votre projet, vos besoins fonctionnels et la concurrence. Après cet audit, ils sont en mesure de déterminer les solutions techniques à mettre en place pour atteindre vos objectifs.</p>
            </li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
                <div class="absolute -left-10 leading-9">
                    <span class="text-primary text-lg font-bold font-accent">02</span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">Mettre en place et faire fonctionner la solution :</span> hébergement de qualité, serveur puissant, développement standard et spécifique, configuration du back-office, installation et paramétrage des modules, connexion aux systèmes d’information de l’entreprise, etc.</p>
            </li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
                <div class="absolute -left-10 leading-9">
                    <span class="text-primary text-lg font-bold font-accent">03</span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">Faire évoluer, maintenir, voire optimiser, les performances du site :</span> migration, refonte, optimisation SEO, intégration de nouveaux modules, ajout de nouvelles pages, corrections des bugs et des failles de sécurité, mise à jour des extensions, etc. La gestion de la plateforme Magento demande donc de multiples compétences. Un développeur expérimenté, un intégrateur, un conseiller web… sont autant de métiers nécessaires à la mise en place de votre projet e-commerce.</p>
            </li>
        </ul>

		<a href="" class="hidden sm:inline-flex text-primary highlighted-label">
			<span>Contactez-nous</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
			</svg>
			<span class="w-0 h-0.5 bg-primary absolute -bottom-0.5 group-hover:w-full transition-all"></span>
		</a>
	</div>
</section>

<section class="relative max-w-screen-xl mx-auto md:px-0">
	<img alt="" src="{{ .Site.BaseURL }}images/blog/placeholder-2.jpg" class="rounded-3xl absolute w-1/4 transform -translate-y-full pb-8" draggable="false"/>

	<span class="hidden lg:block bg-gray-200 w-1/5 h-2/3 absolute -left-16 -z-1 rounded-3xl transform -translate-y-80"></span>

	<img alt="" src="{{ .Site.BaseURL }}images/blog/placeholder-3.jpg" class="rounded-3xl w-full" draggable="false"/>
</section>

<section class="relative max-w-screen-xl mx-auto md:px-0 mb-24">
	
	<a href="" class="absolute btn btn-primary-transparent">
		<span>Demandez un devis</span>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
		</svg>
	</a>

	<div class="w-7/12 ml-auto relative">
		<h2 class="lg-title mt-20"><span class="text-primary">Les compétences</span> d’un développeur et spécialiste Magento</h2>
		<span class="divider relative -left-12 w-24 my-10"></span>
		<p class="text-lg mb-8 leading-9">Chez Lumao, nous multiplions les compétences afin de maîtriser pleinement Magento et, de manière plus générale, les techniques du e-commerce. Ainsi, en faisant appel à nos experts, vous profitez :</p>
		
		<ul>
            <li class="relative pb-4 md:pb-8 flex items-baseline">
                <div class="leading-9">
                    <span class="relative block w-4 h-4 rounded-full border-4 border-primary mr-6"></span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">Des conseils d’une équipe qui connait parfaitement les enjeux</span> du e-commerce, suit les évolutions de marketing digital, anticipe les besoins et les attentes des consommateurs et connaît la faisabilité technique de tel ou tel projet.</p>
			</li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
				<div class="leading-9">
                    <span class="relative block w-4 h-4 rounded-full border-4 border-primary mr-6"></span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">De l’expertise purement technique :</span> php, mySQL, intégration html, css, javascript, indexation, configuration du cache, hébergement, infrastructure, serveur informatique, connexion SI, APIs, développements spécifiques, gestion multisites…</p>
			</li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
				<div class="leading-9">
                    <span class="relative block w-4 h-4 rounded-full border-4 border-primary mr-6"></span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">De compétences pour personnaliser votre boutique en ligne : </span> webdesign, charte graphique, contenus…</p>
			</li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
				<div class="leading-9">
                    <span class="relative block w-4 h-4 rounded-full border-4 border-primary mr-6"></span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">D’un site évolutif :</span> ajout de nouvelles fonctionnalités, refonte, création de nouvelles pages…</p>
			</li>
			<li class="relative pb-4 md:pb-8 flex items-baseline">
				<div class="leading-9">
                    <span class="relative block w-4 h-4 rounded-full border-4 border-primary mr-6"></span>
                </div>
				<p class="text-lg leading-9"><span class="font-bold">D’un site à jour, performant, visible et stable : infogérance, maintenance, optimisation SEO, mise à jour, corrections des bugs et des failles de sécurité, migration des données, etc.</p>
            </li>
        </ul>

		<a href="" class="hidden sm:inline-flex text-primary highlighted-label">
			<span>Contactez-nous</span>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
			</svg>
			<span class="w-0 h-0.5 bg-primary absolute -bottom-0.5 group-hover:w-full transition-all"></span>
		</a>
	</div>


	<img src="{{ .Site.BaseURL }}images/dots.png" class="hidden lg:block absolute w-48 -left-1/4 bottom-32 ml-8" alt="" />
</section>

{{ partial "_references.html" . }}

{{ partial "_blog.html" . }}

{{ partial "_contact.html" . }}

{{ partial "footer.html" . }}