	<footer class="footer-bottom">
		<p class="copyright">&copy; {{ now.Year }} Lumao SASU <img src="favicon.svg" alt="agence web Lumao" /> - 835 305 657 R.C.S. Annecy - Développé avec <i class="fa fa-heart-o"></i> par {{ if eq $.Site.LanguageCode "fr-fr" }}{{ if .IsHome }}<a href="http://lavoweb.net">{{ end }}{{ end }}LavoWeb{{ if eq $.Site.LanguageCode "fr-fr" }}{{ if .IsHome }}</a>{{ end }}{{ end }} - {{ $.Site.Params.City }}</p>
		<p class="copyright">Nous nous déplaçons sur {{ $.Site.Params.Cities }}</p>
	</footer>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}dist/all.css">
	<script src="{{ .Site.BaseURL }}dist/all.js"></script>
	<script>
        jQuery(document).ready(function() {
			jQuery('img').each(function() {
				jQuery(this).addClass('img-responsive');
			});
			jQuery('h2').each(function() {
				jQuery(this).addClass('title-middle');
			});
        });
		window.addEventListener('DOMContentLoaded', function() {
			var myLazyLoad = new LazyLoad({
				elements_selector: ".lazy"
			});
			var myLazyLoadWebp = new LazyLoad({
				elements_selector: ".lazy-webp",
				to_webp: true
			});
		}, false);

	</script>
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5834f365-e0f5-4aed-929d-fd5bce2c17f7"> </script>
	</body>
</html>
