	<footer class="footer-bottom">
		<p class="copyright">&copy; {{ now.Year }} Lumao SASU - 835 305 657 R.C.S. Annecy - Développé avec <i class="fa fa-heart-o"></i> par <a href="http://lavoweb.net">LavoWeb</a> - Genève, Suisse</p>
		<p class="copyright">Nous nous déplaçons sur Genève, Lausanne, Neuchâtel et dans le canton du Jura</p>
	</footer>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}dist/all.css">
	<script src="{{ .Site.BaseURL }}dist/all.js"></script>
	<script>
        jQuery(document).ready(function() {
			jQuery('img').each(function() {
				jQuery(this).addClass('img-responsive');
			});
			jQuery('h2').each(function() {
				jQuery(this).addClass('title-middle');
			});
        });
	</script>
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=5834f365-e0f5-4aed-929d-fd5bce2c17f7"> </script>
	</body>
</html>
