{{ partial "header.html" . }}

<!-- Hero -->
<section class="relative flex items-center justify-center h-56 overflow-hidden bg-gray-400">
    <img alt="" src="{{ .Site.BaseURL }}images/blog/placeholder-hero.jpg" width="" class="absolute max-w-none h-600 sm:h-full xl:h-auto xl:max-w-full xl:top-0" draggable="false"/>

    <div class="absolute flex flex-col items-center justify-end w-full h-full bg-transparent-black sm:justify-center">
        <div class="container absolute px-4 text-gray-200 md:px-0 bottom-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 17l-4 4m0 0l-4-4m4 4V3" />
            </svg>
        </div>
    </div>
</section>

<!-- Section 1 -->
<section class="flex flex-col items-center px-8 mx-auto mt-12 text-center lg:mt-16 sm:pt-20 md:container">
    <span class="up-title text-primary">e-commerce et CMS</span>
    <h2 class="px-10 xl-title">Les principales solutions du marché</h2>
    <span class="mt-4 mb-10 divider md:mt-8 lg:mb-36"></span>

    <div class="relative w-full">
        <span class="absolute hidden w-2/5 mr-0 bg-gray-200 lg:block h-1/2 left-10 -top-14 -z-1 rounded-3xl"></span>
		<div class="flex justify-center overflow-hidden rounded-3xl">
        	<img alt="" src="{{ .Site.BaseURL }}images/cms/placeholder-1.jpg" class="max-w-none md:max-w-full max-h-400 md:max-h-full" draggable="false"/>
		</div>
    </div>
</section>

<!-- Section 2 -->
<section class="relative px-8 mx-auto md:container md:px-0">
	<div class="mx-auto mt-8 text-sm lg:w-7/12 lg:mr-0 lg:ml-auto lg:mt-20 md:text-base">
		<p class="font-bold leading-8 ">Le poids économique du commerce en ligne ne cesse d’augmenter. Désormais, il est indispensable pour une entreprise, petite ou grande, d’être visible sur internet et de vendre en ligne produits et services. </p>
		<p class="leading-8">Les solutions pour créer et gérer un site de vente en ligne sont donc naturellement nombreuses. Mais comment bien choisir le CMS e-commerce, ce système de gestion de contenu, qui saura répondre aux besoins spécifiques de votre activité ? Nous vous proposons ici d’en savoir plus. Et notre agence se tient à votre disposition pour vous accompagner dans votre projet web.</p>
	</div>
</section>

<!-- Section 4 -->
<section class="relative px-8 mx-auto mt-24 mb-12 text-sm md:container md:px-0 lg:mb-24 md:text-base">
    <div class="lg:w-7/12 lg:mr-0 lg:ml-auto">
        <h2 class="lg-title"><span class="text-primary">CMS, e-commerce</span><br>de quoi s’agit-il ?</h2>
        <span class="relative my-6 divider lg:-left-12 w-9 lg:w-24 lg:my-10"></span>
        <p class="mb-8 font-bold leading-8">Tout d’abord, revenons sur ce qu’est un CMS. Derrière ces trois lettres se cache l’expression anglaise « Content Management System », que l’on traduit en français par Système de Gestion de Contenu ou SGC.</p>
        
        <ul>
            <li class="relative flex items-baseline pb-4 text-sm md:pb-8 md:text-base">
                <div class="leading-8">
                    <span class="relative block w-4 h-4 mr-6 border-4 rounded-full border-primary"></span>
                </div>
                <p class="leading-8"><span class="font-bold">Concrètement, il s’agit d’un logiciel qui permet de créer et d’administrer des contenus,</span> sans avoir à passer par le code et à déployer des connaissances poussées en langage informatique. Depuis le back office, soit l’interface de gestion, il est possible d’administrer les contenus, de gérer les données, d’ajouter des modules, de personnaliser le graphisme, de paramétrer des fonctionnalités…</p>
            </li>
            <li class="relative flex items-baseline pb-4 md:pb-8">
                <div class="leading-8">
                    <span class="relative block w-4 h-4 mr-6 border-4 rounded-full border-primary"></span>
                </div>
                <p class="leading-8"><span class="font-bold">Un CMS e-commerce offre des spécificités supplémentaires.</span> Il comprend des modules propres à l’activité de vente en ligne : des modules de paiement, la gestion des devises, la prise en compte des commandes et des livraisons, la mise à jour du catalogue produits, la création de fiches produits, etc.</p>
            </li>
        </ul>
    </div>

    <div class="relative left-0 flex flex-col mx-auto lg:absolute lg:-top-24 md:container">
        <span class="relative hidden w-1/4 bg-gray-200 lg:block lg:h-750 lg:absolute -z-1 rounded-3xl"></span>
        <div class="relative w-full pb-12 lg:absolute lg:w-1/4 lg:left-24 lg:h-750 lg:py-24">
            <div class="relative overflow-hidden h-52 sm:h-72 md:h-96 lg:h-full rounded-3xl">
                <img src="{{ .Site.BaseURL }}images/cms/placeholder-2.jpg" class="absolute object-cover min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"/>
            </div>
        </div>
    </div>

    <div class="lg:w-7/12 lg:mr-0 lg:ml-auto">
        <p class="mb-8 text-sm font-bold md:text-base">Il existe deux grandes familles de solutions de création de sites marchands :</p>

        <ul class="text-sm md:text-base">
            <li class="relative flex items-baseline pb-4 md:pb-8">
                <div class="leading-8">
                    <span class="mr-6 font-bold text-primary font-accent">01</span>
                </div>
                <p class="leading-8"><span class="font-bold">Les solutions « cloud » ou en mode « SaaS » :</span> dans ce cas, le site est hébergé par l’éditeur de la solution, ce qui implique que ce dernier se charge de la maintenance. Ces solutions « prêtes à l’emploi » sont généralement assez limitées et peuvent vite devenir onéreuses, dans la mesure où l’éditeur perçoit le plus souvent une commission sur les conversions.</p>
            </li>
            <li class="relative flex items-baseline pb-4 md:pb-8">
                <div class="leading-8">
                    <span class="mr-6 font-bold text-primary font-accent">02</span>
                </div>
                <p class="leading-8"><span class="font-bold">Les solutions open source :</span> libres et le plus souvent gratuits, du moins dans leur version de base, ces CMS offrent une riche palette de fonctionnalités, sont personnalisables et évolutifs. Magento et PrestaShop sont les deux CMS open source leaders sur le marché en France ; de nombreuses autres solutions sont disponibles.</p>
            </li>
        </ul>

        <div class="mt-2 text-center md:text-left md:ml-12">
            <a href="" class="btn btn-primary-transparent">
                <span class="text-lg">Contactez-nous</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
            </a>
        </div>
    </div>
</section>

<!-- Section 5 -->
<section class="flex py-16 text-sm text-white bg-primary xl:py-28 md:text-base">
    <div class="flex flex-col px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:h-600">
            <h2 class="mb-2 text-3xl lg:text-4xl xl-title">Magento</h2>
            <p class="font-bold lg:text-2xl">une plateforme puissante et complète</p>
            <span class="relative my-6 bg-white divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="w-full my-6 transform lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                <span class="absolute left-0 w-1/2 bg-gray-200 opacity-25 h-80 lg:h-full rounded-3xl"></span>
                <div class="right-0 w-full py-10 lg:absolute lg:w-11/12 h-80 lg:h-full lg:py-24">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-magento.svg" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>
            
            <p class="leading-8">Parmi les nombreuses plateformes permettant de développer un site de vente en ligne figure Magento. Cette solution, les experts de Lumao la connaissent bien. En effet, nous travaillons sur et avec Magento depuis ses débuts en 2008. Robuste et complète, soutenue par une communauté dynamique, cette solution est idéale pour tous les types de sites marchands. Pour un volumineux catalogue produits, elle se montre d’ailleurs ultra-performante, en plus de supporter, entre autres, le multilinguisme et le multi-boutiques. Pour la création et le développement de votre boutique Magento, sa maintenance, sa refonte, son optimisation… : faites appel à une agence qui sait exploiter tous les ressorts de ce CMS complet, puissant et évolutif.</p>
        </div>
        
    </div>
</section>

<section class="relative flex flex-col py-16 pt-16 xl:py-28">
    <!-- Section 6 -->
    <div class="flex flex-col justify-end px-8 mx-auto mb-16 lg:flex-row md:container lg:mb-24 xl:mb-32">
        
        <div class="relative flex flex-col w-full text-sm lg:w-1/2 lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Prestashop</h2>
            <p class="font-bold lg:text-2xl">une valeur sûre à la française</p>
            <span class="relative my-6 divider bg-primary lg:-left-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="left-0 w-full my-6 transform lg:absolute lg:-translate-x-full lg:h-full lg:full lg:mb-0">
                <span class="absolute w-1/2 bg-gray-200 lg:right-0 h-80 lg:h-full rounded-3xl"></span>
                <div class="w-full py-10 lg:absolute lg:w-11/12 h-80 lg:py-24 lg:h-full">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-presta.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 text-gray-500">C’est en 2007 que des étudiants français lancent PrestaShop, un CMS spécialisé e-commerce sur lequel fonctionnent aujourd’hui une multitude de sites marchands made in France. Ce choix est souvent motivé par le fait que la communauté PrestaShop est en majorité francophone, ce qui facilite les échanges et les résolutions de problèmes. Cette solution permet aussi de paramétrer de nombreuses fonctionnalités natives et de personnaliser une boutique. L’interface de gestion est relativement simple à prendre en main et de nombreux addons sont proposés par l’éditeur et sa communauté.</p>
        </div>
    </div>

    <!-- Section 7 -->
    <div class="flex flex-col px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full text-sm lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Woo commerce</h2>
            <p class="font-bold lg:text-2xl">l’extension pour transformer un site wordpress en boutique</p>
            <span class="relative my-6 divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="w-full my-6 transform lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                <span class="absolute left-0 w-1/2 bg-gray-200 h-80 lg:h-full rounded-3xl"></span>
                <div class="right-0 w-full py-10 lg:absolute lg:w-11/12 h-80 lg:h-full lg:py-24">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-woo.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 text-gray-500">Pour transformer un site WordPress en véritable boutique marchande, il suffit, depuis 2011, de télécharger et d’installer une simple extension : WooCommerce. Celle-ci comprend les fonctionnalités de base pour faire du e-commerce et peut s’enrichir en fonction de vos besoins. Attention toutefois à installer l’extension sur un thème compatible. Elle bénéficie en tout cas du succès de WordPress, une des plateformes de gestion de contenu les plus populaires à l’international.</p>
        </div>
    </div>

    <!-- Bookmark -->
    <div class="absolute right-0 items-center hidden transform rotate-90 2xl:flex top-1/2">
        <span class="text-xs tracking-widest uppercase">Solutions du marché</span>
        <span class="absolute -right-12 bg-primary h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>
</section>

<section class="relative flex flex-col py-16 text-white bg-secondary xl:py-32">
    <!-- Section 8 -->
    <div class="flex flex-col justify-end px-8 mx-auto mb-16 lg:flex-row md:container lg:mb-24 xl:mb-32 lg:h-600">
        <div class="relative flex flex-col w-full text-sm lg:w-1/2 lg:px-20 lg:text-base">
            <h2 class="mb-2 lg-title">Drupal Commerce</h2>
            <p class="font-bold lg:text-2xl">une solution possible</p>
            <span class="relative my-6 divider bg-primary lg:-left-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="left-0 w-full my-6 transform lg:absolute lg:-translate-x-full lg:h-full lg:full lg:mb-0">
                <span class="absolute w-1/2 bg-black lg:right-0 h-80 lg:h-full rounded-3xl opacity-40"></span>
                <div class="w-full py-10 lg:absolute lg:w-11/12 h-80 lg:py-24 lg:h-full">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-drupal.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 opacity-70">Lui aussi compte parmi les CMS open source les plus utilisés ; il faut dire que sa première version remonte à 2001. Une interface simplifiée et intuitive ainsi qu’une architecture modulaire font le succès de cette solution. Depuis 2011, un site Drupal peut être enrichi d’une extension spécialement dédiée au commerce en ligne. Nous vous proposons d’en savoir plus sur cette plateforme de gestion de contenu.</p>
        </div>
    </div>

    <!-- Section 9 -->
    <div class="flex flex-col px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full text-sm lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Shopify</h2>
            <p class="font-bold lg:text-2xl">avantages et inconvénients<br>de ce cms canadien</p>
            <span class="relative my-6 divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="w-full my-6 transform lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                <span class="absolute left-0 w-1/2 bg-black h-80 lg:h-full rounded-3xl opacity-40"></span>
                <div class="right-0 w-full py-10 lg:absolute lg:w-11/12 h-80 lg:h-full lg:py-24">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-shopify.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 opacity-70">Dans la grande famille des CMS e-commerce, Shopify tient une place importance. Ce CMS en mode SaaS a été créé en 2006 au Canada et, aujourd’hui, il équipe plus de 800 000 boutiques en ligne à travers le monde. Cette plateforme e-commerce doit son succès à sa grande facilité d’utilisation. Elle est en effet accessible à tous et permet de créer facilement des sites de vente en ligne personnalisés. Nous vous proposons d’en savoir plus sur les avantages de Shopify, mais aussi sur ses inconvénients.</p>
        </div>
    </div>

    <!-- Bookmark -->
    <div class="absolute right-0 items-center hidden transform rotate-90 2xl:flex top-1/2">
        <span class="text-xs tracking-widest uppercase">Solutions du marché</span>
        <span class="absolute -right-12 bg-white h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>
</section>

<section class="relative flex flex-col py-16 text-white bg-gradient-to-br from-gradient-dark to-gradient-light xl:py-32">
    <!-- Section 10 -->
    <div class="flex flex-col justify-end px-8 mx-auto mb-16 lg:flex-row md:container lg:mb-24 xl:mb-32">
        <div class="relative flex flex-col w-full text-sm lg:w-1/2 lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Salesforce</h2>
            <p class="font-bold lg:text-2xl">Commerce cloud ex-demandware</p>
            <span class="relative my-6 bg-white divider lg:-left-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="left-0 w-full my-6 transform lg:absolute lg:-translate-x-full lg:h-full lg:full lg:mb-0">
                <span class="absolute w-1/2 bg-white lg:right-0 h-80 lg:h-full rounded-3xl opacity-30"></span>
                <div class="w-full py-10 lg:absolute lg:w-11/12 h-80 lg:py-24 lg:h-full">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-salesforce.svg" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 opacity-70">Depuis 2016, Demandware se nomme Commerce Cloud. En effet, ce CMS a été acquis par le géant mondial du CRM (Customer Relationship Management), Salesforce. Spécialisée depuis les années 2000 dans les logiciels en mode SaaS de gestion de la relation client (CRM/GRC), la société américaine a décidé d’enrichir son catalogue produits d’un CMS puissant : Commerce Cloud Salesforce. Nous vous proposons d’en savoir plus sur cette plateforme web e-commerce.</p>
        </div>
    </div>

    <!-- Section 11 -->
    <div class="flex flex-col px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full text-sm lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Sap Hybris</h2>
            <p class="font-bold lg:text-2xl">Sap customer experience</p>
            <span class="relative my-6 bg-white divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="w-full my-6 transform lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                <span class="absolute left-0 w-1/2 bg-white h-80 lg:h-full rounded-3xl opacity-30"></span>
                <div class="right-0 w-full py-10 lg:absolute lg:w-11/12 h-80 lg:h-full lg:py-24">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-hybris.svg" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>
            
            <p class="leading-8 opacity-70">Sans doute connaissez-vous déjà SAP pour ses logiciels ERP, des solutions de gestion performantes qui dominent largement ce marché au niveau mondial. Mais la société allemande n’en a pas fini d’innover. Elle propose désormais une suite de solutions cloud dédiées entièrement au commerce, au marketing et à la relation client : SAP Customer Experience (ex-SAP Hybris). Nous vous proposons de découvrir les modules et fonctionnalités de cette solution pensée pour les stratégies e-commerce omnicanal.</p>
        </div>
    </div>

    <!-- Bookmark -->
    <div class="absolute right-0 items-center hidden transform rotate-90 2xl:flex top-1/2">
        <span class="text-xs tracking-widest uppercase">Solutions du marché</span>
        <span class="absolute -right-12 bg-white h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>
</section>

<!-- Section 12 -->
<section class="relative flex flex-col py-16 xl:py-32">
    <div class="flex flex-col justify-end px-8 mx-auto mb-16 lg:flex-row md:container lg:mb-24 xl:mb-32">
        <div class="relative flex flex-col w-full text-sm lg:w-1/2 lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Sylius</h2>
            <p class="font-bold lg:text-2xl">un framework e-commerce<br>basé sur symfony</p>
            <span class="relative my-6 divider bg-primary lg:-left-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="left-0 w-full my-6 transform lg:absolute lg:-translate-x-full lg:h-full lg:full lg:mb-0">
                <span class="absolute w-1/2 bg-gray-200 lg:right-0 h-80 lg:h-full rounded-3xl"></span>
                <div class="w-full py-10 lg:absolute lg:w-11/12 h-80 lg:py-24 lg:h-full">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-sylius.svg" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 text-gray-500">Les projets e-commerce sont nombreux et variés ; tout comme les solutions disponibles pour les mettre en œuvre. Si vous avez des besoins particuliers, un CMS classique peut ne pas suffire. C’est là qu’interviennent les Frameworks tels que Sylius. Ecrit en PHP et basé sur Symfony, Sylius permet de construire des sites e-commerce complexes techniquement et adaptés à vos besoins, aussi spécifiques soient-ils.</p>
        </div>
    </div>

    <!-- Section 13 -->
    <div class="flex flex-col px-8 mx-auto mb-16 lg:flex-row md:container lg:mb-24 xl:mb-32">
        <div class="relative flex flex-col w-full text-sm lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Oro commerce</h2>
            <p class="font-bold lg:text-2xl">Oro commerce un cms pour développer une activité b2b sur le web</p>
            <span class="relative my-6 divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="w-full my-6 transform lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                <span class="absolute left-0 w-1/2 bg-gray-200 h-80 lg:h-full rounded-3xl"></span>
                <div class="right-0 w-full py-10 lg:absolute lg:w-11/12 h-80 lg:h-full lg:py-24">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-oro.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 text-gray-500">Les acteurs du B2B le savent : les enjeux du e-commerce ne sont pas les mêmes qu’en B2C. Des cycles d’achat plus long, des décideurs multiples, des listes de prix variables, des commandes en gros et répétées… : les contraintes sont nombreuses. Pour y répondre, il existe désormais des CMS spécialisés B2B. Parmi eux, OroCommerce, une solution créée par des anciens de Magento. Découvrez ses fonctionnalités spécifiques.</p>
        </div>
    </div>

    <!-- Section 14 -->
    <div class="flex flex-col justify-end px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full text-sm lg:w-1/2 lg:px-20 lg:text-base lg:h-600">
            <h2 class="mb-2 lg-title">Oxatis</h2>
            <p class="font-bold lg:text-2xl">une solution saas française pour créer une boutique en ligne</p>
            <span class="relative my-6 divider bg-primary lg:-left-12 w-9 lg:w-24 lg:my-10"></span>

            <div class="left-0 w-full my-6 transform lg:absolute lg:-translate-x-full lg:h-full lg:full lg:mb-0">
                <span class="absolute w-1/2 bg-gray-200 lg:right-0 h-80 lg:h-full rounded-3xl"></span>
                <div class="w-full py-10 lg:absolute lg:w-11/12 h-80 lg:py-24 lg:h-full">
                    <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                        <img src="{{ .Site.BaseURL }}images/cms/logo-oxatis.png" class="absolute max-w-full px-10 transform -translate-x-1/2 -translate-y-1/2 max-h-48 top-1/2 left-1/2 lg:px-20"/>
                    </div>
                </div>
            </div>

            <p class="leading-8 text-gray-500">C’est un des CMS les plus utilisés en France et en Europe. Oxatis propose depuis 2001 une solution SaaS performante et sécurisée aux e-commerçants qui souhaitent gérer facilement leur activité en ligne. La société marseillaise offre un très riche catalogue de fonctionnalités, orientées B2B mais aussi B2C. Et pour optimiser encore la gestion d’une activité professionnelle, la solution peut être connectée à différents progiciels de gestion tels que l’ERP Sage.v</p>
        </div>
    </div>
    
    <!-- Bookmark -->
    <div class="absolute right-0 items-center hidden transform rotate-90 2xl:flex top-1/2">
        <span class="text-xs tracking-widest uppercase">Solutions du marché</span>
        <span class="absolute -right-12 bg-primary h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>
</section>

{{ partial "_contact.html" . }}

{{ partial "footer.html" . }}