{{ partial "header.html" . }}

<!-- Hero -->
<!-- Hero -->
<section class="relative flex items-center justify-center overflow-x-hidden bg-gray-400 h-600 sm:h-screen md:min-h-920 md:max-h-1080">
    <img alt="" src="{{ .Site.BaseURL }}images/cms/single/hero.jpg" class="absolute object-cover min-h-full max-w-none h-600 sm:h-full xl:h-auto xl:max-w-full xl:top-0" draggable="false"/>

    <div class="absolute flex flex-col items-center justify-end w-full h-full sm:justify-center">
        <div class="container px-4 text-center md:px-0 sm:text-left">
            <div class="mb-28 sm:max-w-sm md:max-w-lg xl:max-w-xl md:ml-24 xl:ml-36">
                <p class="mb-2 text-lg text-primary">Magento</p>
                <h1 class="mb-12 text-4xl font-bold text-white md:text-5xl xl:text-6xl 2xl:text-7xl font-accent">
                    La solution<br><span class="text-primary">e-commerce</span> performante.
                </h1>
                <p class="hidden leading-loose text-white md:block">
                    Lancé en 2008, Magento est un CMS e-commerce puissant, permettant de créer et de gérer les sites de vente en ligne les plus divers. Cette plateforme open source s’est d’abord imposée aux Etats-Unis, puis à travers le monde entier. Elle revendique plus de 240 000 sites.
                </p>
            </div>
            
        </div>
    </div>
</section>

<section class="px-8 py-12 shadow-theme md:shadow-none">

    <p class="block mb-8 font-bold text-center md:hidden sm:text-lg">
        Lancé en 2008, Magento est un CMS e-commerce puissant, permettant de créer et de gérer les sites de vente en ligne les plus divers. Cette plateforme open source s’est d’abord imposée aux Etats-Unis, puis à travers le monde entier. Elle revendique plus de 240 000 sites.
    </p>
    <p class="mx-auto text-center md:w-1/2 sm:text-lg md:font-bold">
        En France aussi, cette solution technique a su convaincre bon nombre de e-commerçants et de développeurs, dont les experts de l’agence Lumao. Complète, flexible, évolutive : cette solution permet de développer des sites uniques et performants. Nous vous proposons ici d’en savoir plus sur ce CMS qui compte parmi les leaders du marché. Et pour la création de votre site Magento, demandez un devis gratuit et personnalisé à notre agence.
    </p>
</section>

<!-- Section 1 -->
<section class="flex flex-col items-center px-8 mx-auto mt-16 text-center md:container">
    <span class="mb-2 up-title text-primary md:mb-0">Votre projet e-commerce</span>
    <h2 class="px-10 xl-title">Faites appel à un expert Magento 2</h2>
    <span class="mt-4 mb-10 divider md:mt-8 lg:mb-36"></span>

    <div class="relative w-full">
        <span class="absolute hidden w-2/5 mr-0 bg-gray-200 lg:block h-1/2 left-10 -top-14 -z-1 rounded-3xl"></span>
		<div class="flex justify-center overflow-hidden rounded-3xl">
        	<img alt="" src="{{ .Site.BaseURL }}images/cms/single/placeholder-1.jpg" class="max-w-none md:max-w-full max-h-400 md:max-h-full" draggable="false"/>
		</div>
    </div>
</section>

<!-- Section 2 -->
<section class="relative px-8 mx-auto md:mb-16 md:container md:px-0">
	<div class="mx-auto mt-8 text-sm lg:w-7/12 lg:mr-0 lg:ml-auto lg:mt-20 md:text-base">
		<p class="leading-8">Chez Lumao, vous êtes en relation avec une équipe spécialisée en création de sites de vente en ligne. Profitez des conseils et des compétences d’un expert Magento. Cette solution open source est toujours plébiscitée par les acteurs du e-commerce. Performante, elle demande toutefois un tant soit peu d’expérience pour être maîtrisée et exploitée pleinement. Découvrez comment un expert Magento intervient sur votre projet et participe à son succès, sur le moyen et le long terme.</p>
	</div>
</section>

<!-- Section 3 -->
<section class="relative flex flex-col py-10 mb-10 xl:py-16 shadow-theme md:shadow-none">
    <div class="flex flex-col px-8 mx-auto lg:flex-row md:container">
        <div class="relative flex flex-col w-full text-sm lg:items-end lg:w-1/2 lg:text-right lg:px-20 lg:text-base lg:h-600">

                <h2 class="mb-2 lg-title">Pour la mise en ligne de votre activité</h2>
                <p class="font-bold lg:text-2xl">l’extension pour transformer un site wordpress en boutique</p>
                <span class="relative my-6 divider lg:-right-12 w-9 lg:w-24 lg:my-10"></span>

                <div class="order-last w-full my-6 transform md:order-first lg:absolute lg:translate-x-full -right-0 lg:h-full lg:mt-0">
                    <span class="absolute left-0 hidden w-1/2 bg-gray-200 md:block h-80 lg:h-full rounded-3xl"></span>
                    <div class="right-0 w-full h-56 lg:absolute lg:w-11/12 lg:h-full lg:py-24">
                        <div class="relative h-full overflow-hidden bg-white rounded-3xl shadow-theme">
                            <img src="{{ .Site.BaseURL }}images/cms/single/placeholder-2.jpg" class="absolute object-cover min-w-full min-h-full transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"/>
                        </div>
                    </div>
                </div>

                <p class="leading-8 text-gray-500">Vous recherchez des experts pour développer votre site e-commerce ? Faites appel à notre agence spécialisée Magento. Ce CMS offre de multiples possibilités et s’adapte à tous les types d’activités. Que vous gériez une seule boutique ou plusieurs sites e-commerce, et peu importe le nombre et le type de produits et services que vous proposez, nous avons une solution. Pour un développement Magento sur mesure, nous vous proposons un devis adapté à votre projet, à vos objectifs et à vos différentes problématiques.</p>
  
        </div>
    </div>

    <!-- Bookmark -->
    <div class="absolute right-0 items-center hidden transform rotate-90 2xl:flex top-24">
        <span class="text-xs tracking-widest uppercase">Projet E-commerce</span>
        <span class="absolute -right-12 bg-primary h-0.5 w-10 mx-auto rounded-xl"></span>
    </div>
</section>

<!-- Section 4 -->
<section class="flex flex-col items-center px-8 mx-auto text-center md:mt-16 md:container">
    <span class="mb-2 up-title text-primary md:mb-0">Pour votre projet e-commerce</span>
    <h2 class="px-10 xl-title">Passez à la vitesse supérieure</h2>
    <span class="mt-4 mb-10 divider md:mt-8 lg:mb-36"></span>
</section>

<!-- Section 5 -->
<section class="relative px-8 mx-auto mb-20 md:container md:px-0">
    <div class="flex">
        <div class="relative items-start justify-end hidden w-1/2 pr-32 lg:flex">
            <img src="{{ .Site.BaseURL }}images/dots.png" class="hidden w-48 lg:block lg:order-last justify-self-end" alt="" />
        </div>
        
        <div class="mx-auto text-sm lg:w-1/2 lg:mr-0 md:text-base">
            <p class="leading-8 text-gray-500">Depuis sa création en 2008, Magento s’est largement imposé sur le marché des CMS e-commerce. Complet et performant, il permet en effet la création et la gestion de boutiques en ligne sur mesure, adaptées aux besoins des e-commerçants.</p>
            <p class="leading-8 text-gray-500">Pour accompagner ces derniers à travers les nouveaux enjeux de la vente en ligne, la solution a évolué en 2015 avec une nouvelle version : Magento 2. Elle enrichit la version originale de nombreux avantages : des temps de chargement plus courts, un contrôle systématique des modules, des mises à jour simplifiées, etc. De quoi booster votre activité en ligne. Si votre site e-commerce n’a pas encore entamé sa migration vers Magento 2 : pensez-y. La fin du support et des mises à jour de sécurité de Magento est prévue pour 2020.</p>
        </div>
    </div>
</section>

<!-- Section 6 -->
<section class="relative py-12 text-center bg-gray-theme-100 md:py-32 md:px-8 sm:px-20 xl:px-0">
    <div class="max-w-screen-xl mx-auto">

        <div class="grid-cols-3 gap-4 xl:grid lg:gap-8 lg:mx-8 xl:gap-12">
        
            <!-- Block 01 -->
            <div class="overflow-hidden rounded-3xl">
                <div class="flex flex-col px-8 font-bold md:pt-16 xl:px-12">
                    <h4 class="mb-10 text-3xl font-accent">P<span  class="text-primary">W</span>A</h4>

                    <img alt="" src="{{ .Site.BaseURL }}images/cms/single/logo-pwa.svg" class="h-24 mx-auto mb-8" draggable="false"/>
                    
                    <p class="text-xl font-bold xl:text-base">Une solution pour des boutiques en ligne toujours plus performante</p>

                    <span class="mx-auto my-8 divider"></span>
                </div>

                <div class="flex flex-col px-4 text-xl leading-7 text-gray-500 xl:text-base xl:px-12">
                    « Mobile first » : telle est la devise des moteurs de recherche, des développeurs, des e-commerçants, des référenceurs, etc. Pour autant, les applications natives consultées sur mobile ne transforment pas forcément. Google promeut ainsi depuis quelque temps un tout nouveau standard web baptisé PWA (Progressive Web App). Différentes solutions existent pour créer ce type de sites e-commerce accessibles partout et tout le temps. Nous vous proposons d’en savoir plus.
                </div>

                <a href="#" class="my-8 btn btn-gray">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>

            <!-- Block 02 -->
            <div class="mb-10 overflow-hidden sm:rounded-3xl shadow-theme xl:mb-0">
                <div class="relative flex flex-col px-8 pt-16 pb-8 font-bold text-white bg-secondary xl:px-12">
                    <h4 class="mb-5 text-3xl font-accent"><span class="text-primary">Module </span>Magento</h4>

                    <img alt="" src="{{ .Site.BaseURL }}images/cms/single/logo-module.svg" class="h-24 mx-auto mb-8" draggable="false"/>

                    <p class="text-xl font-normal xl:text-base">Etendez les fonctionnalités de 
                        votre site e-commerce</p>                        

                    <span class="absolute bottom-0 mx-auto transform -translate-x-1/2 translate-y-1/2 left-1/2 divider"></span>
                </div>

                <p class="px-8 py-8 text-xl leading-7 text-gray-500 xl:text-base xl:px-12">
                    Les CMS peuvent tous être enrichis de nouvelles options et <span class="text-primary">fonctionnalités</span>. Magento n’échappe pas à la règle. La plateforme se personnalise au gré des ajouts de <span class="text-primary">modules Magento</span> taillés sur mesure pour votre activité, vos produits, vos services… et vos clients. Gratuites ou payantes, ces extensions existent par milliers. Nous vous proposons de vous guider à travers ce riche catalogue et nous vous donnons la liste de nos modules préférés.
                </p>

                <a href="#" class="mb-16 shadow-lg btn btn-primary">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>

            <!-- Block 03 -->
            <div class="overflow-hidden rounded-3xl">
                <div class="flex flex-col px-4 font-bold md:pt-16 xl:px-12">
                    <h4 class="mb-5 text-3xl font-accent">Magento Solution<span class="text-primary">Partner</span></h4>

                    <img alt="" src="{{ .Site.BaseURL }}images/cms/single/logo-business.png" class="h-24 mx-auto mb-8" draggable="false"/>

                    <p class="text-xl font-bold xl:text-base">Un gage de qualité pour votre 
                        projet e-commerce</p>

                    <span class="mx-auto my-8 divider"></span>
                </div>

                <div class="flex flex-col px-8 text-xl leading-7 text-gray-500 xl:text-base xl:px-12">
                    Chez Lumao, nous nous sommes passionnés pour Magento dès les débuts de la solution, en 2008. Cet investissement nous permet de connaître parfaitement la plateforme e-commerce et de l’adapter à vos besoins. Certifiée <span class="text-primary">Magento Solution Partner</span>, Lumao met à votre service son expertise technique et ses connaissances du domaine de l’e-commerce. Ce cocktail de compétences et de passion, nous l’exploitons dans l’intérêt de votre activité. Nos équipes vous accompagnent dans la réalisation de votre projet e-commerce et l’emmènent sur la voie du succès.
                </div>

                <a href="#" class="my-8 btn btn-gray">
                    <span class="text-xl xl-text-base">En savoir plus</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 ml-2 fill-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>


{{ partial "_contact.html" . }}

{{ partial "footer.html" . }}