.tap-transparent {
    -webkit-tap-highlight-color: transparent;
}

@screen lg {
    .col-count-2 {
        column-count: 2;
    }

    .col-gap-6 {
        column-gap: 6rem;
    }
}

.mobile-menu {
    clip-path: polygon(100% 0, 100% 0, 0 100%, 0 100%);
    transition: clip-path 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    &.open {
         clip-path: polygon(0 0, 200vw 0, 100% 100%, -100vw 100%);
    }
}

.social {
    transform: translate3d(0, calc(200%), 0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.20s;
    &:nth-of-type(2) {
         transition-delay: 0.15s;

     }
    &:nth-of-type(3) {
         transition-delay: 0.10s;
     }
    &:nth-of-type(4) {
         transition-delay: 0.05s;
     }
}

.open .social {
    transform: translate3d(0, 0, 0);
}

@screen md {
    .fake-gradient {
        background: linear-gradient(90deg, theme('colors.gray-theme.800') 50%, theme('colors.gray-theme.900') 50%);
    }
}

.hero-mask {
    mask-image: url('/images/hero-mask.png');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: bottom;
}

.highlighted-label {
    @apply relative inline-flex text-lg font-bold font-accent group max-w-max;
}

.btn {
    @apply inline-flex items-center px-12 py-4 text-sm font-bold border rounded-full cursor-pointer font-accent xl:text-lg sm:py-4;
}

.btn-primary {
    @apply text-white bg-primary hover:bg-white hover:text-primary hover:border-primary;
}

.btn-primary-transparent {
    @apply border-primary text-primary hover:bg-primary hover:text-white;
}

.btn-accent {
    @apply text-white bg-accent;
}

.btn-gray {
    @apply border border-gray-300 text-gray-300  hover:border-primary hover:text-primary hover:bg-white 
}

.btn-white {
    @apply text-white border-white hover:bg-white hover:text-accent;
}


.divider {
    @apply block h-2.5 w-9 rounded-xl bg-primary;
}

.divider-aside {
    @apply mt-4 lg:mt-0 lg:absolute lg:-left-24;
}

.up-title {
    @apply text-sm font-accent font-bold text-center uppercase md:text-lg;
}

.xl-title {
    @apply text-4xl font-bold md:text-5xl xl:text-6xl 2xl:text-7xl font-accent;
}

.lg-title {
    @apply text-3xl font-bold xl:text-4xl 2xl:text-5xl font-accent;
}

/*! purgecss start ignore */
main {
    iframe {
        width: 100%;
    }

    &.default {
        @apply mx-auto prose xl:prose-xl mb-32 px-4 sm:px-0;

        a {
            text-underline-offset: 5px;
            text-decoration-color: theme('colors.accent');
            &:hover {
                color: theme('colors.accent');
            }
        }
    }
}

.why {
    .card {
        @apply relative mb-16 overflow-hidden rounded-3xl xl:top-6 xl:mb-0;
        .card-top {
            @apply flex flex-col px-8 font-bold md:pt-16 xl:px-12;
        }
        &.hover,
        &.selected {
             @apply shadow-theme;
            .card-top {
                @apply py-16 text-white bg-secondary;
            }
            .btn {
                @apply btn-primary;
            }
         }
    }
}

.stats {
    .card {
        @apply lg:rounded-3xl py-12 pb-14 lg:pt-36 lg:pb-20 lg:w-52;
        &.hover {
             @apply bg-primary;
            div {
                @apply text-white;
            }
            .divider {
                @apply bg-white;
            }
         }
    }
}

/*! purgecss end ignore */