{{ partial "header.html" . }}

<!-- About -->
<div class="section section-about" id="section-about">
	<div class="title-block ">
		<h2 class="title-big">
			Agence de développeurs Magento
		</h2>
	</div>
	<div class="title-block ">
		<h3 class="title-big">
			À propos
		</h3>
	</div>
	<div class="container">
		<div class="about-info">
			<div class="row">
				<div class="col-md-6"  >
					<h3 class="about-title">
						Nous aimons ce que nous faisons
					</h3>

					<p>
						Nous sommes une équipe de développeurs et d'intégrateurs spécialisés sur le CMS Magento, nous sommes d'ailleurs certifiés.
					</p>
					<p>
						Si vous êtes à la recherche d'une équipe d'expert et non pas d'un commercial, vous êtes au bon endroit.
					</p>
					<p>
						Nous adorerions avoir de vos nouvelles.
					</p>

				</div>
				<div class="col-md-6  ">
					<div class="about-slide">
						<div id="about-slider" class="swiper-container">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper">
								<!-- Slides -->
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/lumao_logo.png" alt="Logo de l'agence web Lumao">
									</div>
								</div>
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/AboutSlide_01.jpg" alt="Rencontrez-nous à Genève">
									</div>
								</div>
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/lumao_logo.png" alt="Agence experte Magento">
									</div>
								</div>
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/AboutSlide_02.jpeg" alt="Venez boire un café">
									</div>
								</div>
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/lumao_logo.png" alt="Développement Magento">
									</div>
								</div>
								<div class="swiper-slide" >
									<div class="about-img">
										<img src="images/AboutSlide_03.jpg" alt="On l'offre le café">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about-features  ">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="feature-title">
							<span class="circle-icon feature-icon ">
								<i class="fa fa-star-o"></i>
							</span>
						Développement
					</h3>
					<p class="feature-desc">
						Développement de modules, projets, intégration CSS responsive.
					</p>
				</div>
				<div class="col-sm-4">
					<h3 class="feature-title">
							<span class="circle-icon feature-icon ">
								<i class="fa fa-code"></i>
							</span>
						Hébergement
					</h3>
					<p class="feature-desc">
						Hébergement sur nos serveurs cloud haute disponibilité.
					</p>
				</div>
				<div class="col-sm-4">
					<h3 class="feature-title">
							<span class="circle-icon feature-icon ">
								<i class="fa fa-smile-o"></i>
							</span>
						TMA
					</h3>
					<p class="feature-desc">
						Forfait mensualisé de maintenance.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fun Info -->
<div class="section section-funinfo">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div class="count-block">
					<div class="count-icon animate pulse">
						<i class="fa fa-laptop"></i>
					</div>
					<div class="count-amount animate zoomIn" data-from="25" data-to="3512">25</div>
					<div class="count-name">
						Heures de travail
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="count-block">
					<div class="count-icon animate pulse">
						<i class="fa fa-flag-o"></i>
					</div>
					<div class="count-amount animate zoomIn" data-from="25" data-to="174">25</div>
					<div class="count-name">
						Projets
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="count-block">
					<div class="count-icon animate pulse">
						<i class="fa fa-heart-o"></i>
					</div>
					<div class="count-amount animate zoomIn" data-from="25" data-to="132">25</div>
					<div class="count-name">
						Clients
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-3">
				<div class="count-block">
					<div class="count-icon animate pulse">
						<i class="fa fa-code"></i>
					</div>
					<div class="count-amount animate zoomIn" data-from="25" data-to="15321">25</div>
					<div class="count-name">
						lignes de code
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Services -->
<div class="section section-services" id="section-services">
	<div class="title-block title-sub">
		<h3 class="title-big">
			Nos services
		</h3>
		<p class="sub-title">
			Voici une partie des services que nous proposons à nos clients.
		</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-code"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							Développement
						</h3>
						<p class="serv-desc">
							Développement sur mesure
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-star-o"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							TMA
						</h3>
						<p class="serv-desc">
							Support applicatif
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-lightbulb-o"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							Marketing
						</h3>
						<p class="serv-desc">
							Aide et réalisation des actions marketing
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-comment-o"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							SEO
						</h3>
						<p class="serv-desc">
							Optimisation pour le référencement
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-bell-o"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							Hosting
						</h3>
						<p class="serv-desc">
							Hébergement Cloud en SaaS
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service-block service-left">
					<div class="circle-icon feature-icon">
						<i class="fa fa-film"></i>
					</div>
					<div class="serv-info">

						<h3 class="serv-title">
							Performance
						</h3>
						<p class="serv-desc">
							Audit des performances
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section section-certifications" id="certifications">
	<div class="title-block">
		<div class="title-big">Nos certifications</div>
	</div>
	<div class="container">
		<div class="container">
			<div class="home-portfolio" class="row">
				<img class="animate zoomIn" src="/images/certification/big_developer.png" alt="Certification Magento Open Source CE" />
				<img class="animate zoomIn" src="/images/certification/big_developer_plus.png" alt="Certification Magento Commerce EE" />
			</div>
		</div>
	</div>
</div>
<!-- Team skills -->
<div class="team-skills skills-img-left">
	<div class="skills-img" data-team-pic="images/skills.jpg"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-6 col-xs-12">
				<div class="skills-info">
					<div class="skills-side">
						<h2 class="sk-title" >
							Nous avons des
							<span>compétences incroyables</span>
						</h2>
						<p class="sk-subtitle">
							En plus d'aimer le café, nous aimons notre travail, dans l'équipe nous avons des compétences rares.
						</p>
					</div>
					<div id="progress-bars">
						<h3 class="skill-title">
							Expertise Magento 1
						</h3>
						<div class="progress-bar">
							<span class="progress" data-percentage="98"></span>
						</div>
						<h3 class="skill-title">
							Design
						</h3>
						<div class="progress-bar">
							<span class="progress" data-percentage="85"></span>
						</div>
						<h3 class="skill-title">
							Marketing
						</h3>
						<div class="progress-bar">
							<span class="progress" data-percentage="88"></span>
						</div>
						<h3 class="skill-title">
							Magento 2
						</h3>
						<div class="progress-bar">
							<span class="progress" data-percentage="55"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- item -->
<div class="section section-items" id="section-items">
	<div class="title-block">
		<div class="title-big">Nos références</div>
	</div>
	<div class="container">
		<div id="home-portfolio" class="row">
            {{ range (where .Data.Pages "Type" "freference") }}
                {{ .Render "list" }}
            {{ end }}
		</div>
		<div class="row">
			<div class="title-block">
				<div class="title-small"><a href="{{ .Site.BaseURL }}reference/">Voir plus</a></div>
			</div>
		</div>
	</div>
</div>
<!-- Team skills 2-->
<div class="team-skills skills-img-right">
	<div>
		<div class="skills-img" data-team-pic="images/skills.jpg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="skills-info ">
					<div class="skills-side">
						<h2 class="sk-title">
							Nous créons de
							<span>magnifiques sites</span>
						</h2>
					</div>
					<ul class="skills-list">
						<li class="team-sk animate" data-wow-delay=".2s">
							<div class="sk-icon">
								<i class="fa fa-magic"></i>
							</div>
							<h3 class="skill-title">
								Planning
							</h3>
							<p class="sk-desc">
								Nous convenons d'un planning afin de développer votre e-commerce pour votre deadline.
							</p>
						</li>
						<li class="team-sk animate" data-wow-delay=".4s">
							<div class="sk-icon">
								<i class="fa fa-sliders"></i>
							</div>
							<h3 class="skill-title">
								Building
							</h3>
							<p class="sk-desc">
								C'est la phase de création du site-web, tous les jours, vous verrez les nouvelles fonctionnalités que nous faisons pour votre site.
							</p>
						</li>
						<li class="team-sk animate" data-wow-delay=".6s">
							<div class="sk-icon">
								<i class="fa fa-sun-o"></i>
							</div>
							<h3 class="skill-title">
								Delivering
							</h3>
							<p class="sk-desc">
								Toutes les 2 semaines, une mise en production a lieu, avec les changements que vous aurez préalablement validé.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Form-->
<div class="section section-contact" id="section-contact">
	<div class="title-block">
		<h2 class="title-big">
			Nous contacter
		</h2>
		<p>Envie de contacter un <strong>expert Magento</strong> ? C'est ici.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="contact-form"  action="https://formspree.io/aurelien@lavoweb.net" method="POST">
					<div class="row">
						<div class="col-md-6">
							<input class="form-input" type="text" placeholder="Nom" name="name" required/>
						</div>
						<div class="col-md-6">
							<input class="form-input" type="email" placeholder="E-mail" name="_replyto" required/>
						</div>
					</div>
                    <input type="hidden" name="_subject" value="Contact Lumao" />
                    <input type="hidden" name="_next" value="{{ .Site.BaseURL }}post/merci/" />
					<input type="hidden" name="_format" value="plain" />
					<input type="text" name="_gotcha" style="display:none" />
					<textarea class="form-input" placeholder="Votre Message" name="message"></textarea>
					<input class="btn form-btn" type="submit" value="Envoyer un message"/>
				</form>
			</div>
		</div>
	</div>
	<div class="title-block">
		<h2 class="title-big">
			<a href="{{ .Site.BaseURL }}post/">Nos articles</a>
		</h2>
	</div>
	<div class="section partners" id="section-partners">
		<div class="title-block">
			<div class="title-big">Nos partenaires</div>
		</div>
		<div class="container">
			<div class="home-portfolio" class="row">
				<img class="animate zoomIn" src="/images/partners/infomaniak.svg" alt="Infomaniak" />
				<img class="animate zoomIn" src="/images/partners/wemind.jpeg" alt="Wemind" />
				<img class="animate zoomIn" src="/images/partners/novaa.png" alt="Novaa" />
				<img class="animate zoomIn" src="/images/partners/qonto.svg" alt="Qonto" />
				<img class="animate zoomIn paypal-logo" src="/images/partners/paypal.svg" alt="Paypal" />
			</div>
		</div>
	</div>
</div>
{{ partial "footer.html" . }}
